@media only screen and (max-width:688px) {
    main{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .slider{
        display: grid;
        grid-template-columns:repeat(1,1fr);
       
    }
    main .slider .slider-text{
        width:100%;
        height:284px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:50px ;
        padding-bottom: 50px;
        padding-left:8%;
    }
    main .slider .slider-text p{
        padding-left:  8%;
    }
    main .slider .slider-img{
        width:475px;
        padding-left:12%;
    }
    main .populer-collection{
       
   
           
            grid-template-columns: repeat(1,1fr);
           
            padding-left: 15%;
        
    }
    footer{
        width: 100%;
    }
    }
    @media only screen and (min-width:689px) and (max-width:992px) {
        main{
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        main .slider{
            display: grid;
            grid-template-columns:repeat(1,1fr);
           
        }
        main .slider .slider-text{
            width:582px;
            height:284px ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:50px 20px;
            padding-left:5%;
        }
        main .slider .slider-text p{
            padding-left:  8%;
        }
        
        main .slider .slider-img{
            width:475px;
            padding-left:10%;
        }
        main .populer-collection{
       
   
           
            grid-template-columns: repeat(1,1fr);
           
            padding:0 50px;
        
    }
    footer{
        width:100%;
    }
        }