body{
    font-family: 'Licorice', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
main{
    width:1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap: 57px;
}
.slider-text{
    width:582px;
    height:284px ;
    display: flex;
    flex-direction: column;
    padding:50px 20px;
}
.slider-text h1{
    font-size: 45px;
    font-weight: 900;
    color:black;
}
.slider-text p{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    color:#3A3A3A;
    text-align: justify;
}
.slider-text button{
    align-items: center;
    width: 198px;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    color:white;
    background-color: brown;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-text button .fas.fa-arrow-right {
    padding-left: 5px;
    padding-top: 2px;
}
.slider-img img{
    width:440px;
    height: 414px;
    padding:2px 30px 33px 31px;
}
.slider-img{
    height: 475px;
    width: 475px;
   background: url(images/Circle-design.svg);
}


/* populer-colection */

.populer-collection{
   
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 35px;
    padding:0 50px;
    margin-right: 85px;
   
}

.populer-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Poppins;
    font-weight: 600;
    font-size: 28px;
    color:#3A3A3A;
    padding:50px 0
}
.product{
    display: flex;
    flex-direction: column;
    padding:20px;
    width: 307px;
    height: 479px;
    background: white;
    box-shadow: 1px 9px 16px 9px gainsboro;
    border-radius: 5px;
    margin-bottom:25px;
}
.product-img{
    width: 283px;
    height: 256px;
    padding-bottom: -6px;
}
.product-info h4{
    color:#18191F;
    font-size: 25px;
}
.product-info h4{
    color:#18191F;
    font-size: 18px;
}
.star{
    display: flex;
    margin-bottom:8px;

}
.star i{
    font:12px;
    color:gold;
    margin-right: 2px;
}
.star span{
    font-size: 14px;
    color:#5E6366;
    font-weight: bold;
}
.product-info p{
    font-size: 15px;
    color:#5E6366;
    font-weight: bolod;
    font-family: Roboto;
}
footer{
    width:100%;
    height:150px;
    background: #0A0826;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h3{
    font-size: 19px;
    color:white;
    padding-bottom:8px;
}
footer p{
    font-size: 13px;
    color:white;
    position: absolute;
}
footer span {
    font-size: 12px;
    color: white;
    padding-bottom: 15px;
}
footer .icons{
    display: flex;
    width:200px;
    height: 18px;
    text-align: center;
    justify-content: center;
}
footer .icons i{
    font-size: 23px;
    padding-right: 11px;
} 