body{
    margin: 0;
    padding: 0;
    font-family: 'Licorice', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* ---- Main-start ---- */
main{
    width:1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---- slider-start---- */

.slider{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap: 57px;
    margin-bottom: 40px;
    margin-top: 50px;
}
.slider-text{
    width:520px;
    display: flex;
    flex-direction: column;
    padding:50px 20px;
    margin-top: 20px;
}
.slider-text h1{
    font-size: 40px;
    font-weight: 700;
    color:black;
}
.slider-text p{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    color:#3A3A3A;
    text-align: justify;
    margin-bottom: 20px;
}
.slider-text button{
    
    width: 198px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color:rgba(241, 220, 220, 0.973);
    background-color: brown;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slider-text button:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    background-color: tomato;
    color: white;

}
.slider-text button .fas.fa-arrow-right {
    padding-left: 10px;
    padding-top: 2px;
}
.slider-img img{
    width:440px;
     margin-top: 20px;
    padding:2px 30px 33px 31px;
}
.slider-img{
    height: 475px;
    width: 475px;
   background: url(images/Circle-design.svg);
}
.slider-img:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
} 

/*----- slider-end ---- */

/* populer-colection-start */

.populer-collection{
   
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 35px;
    padding:0 50px;
    margin-right: 85px;
    margin-bottom: 70px;
    margin-top: 40px;
   
}

.populer-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Poppins;
    font-weight: 600;
    font-size: 28px;
    color:#3A3A3A;
    padding:50px 0
}
.product{
    display: flex;
    flex-direction: column;
    padding:20px;
    width: 307px;
    height: 479px;
    background: white;
    box-shadow: 1px 9px 16px 9px gainsboro;
    border-radius: 5px;
    margin-bottom:25px;
    overflow: hidden;
   
}

.product-img{
    width: 283px;
    height: 256px;
     padding-left: 3px;
    
}
.product:hover .product-img{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
.product-info h4{
    color:#18191F;
    font-size: 25px;
}
.product-info h4{
    color:#18191F;
    font-size: 18px;
}

.star{
    display: flex;
    margin-bottom:8px;

}
.star i{
    font:12px;
    color:gold;
    margin-right: 2px;
}
.star span{
    font-size: 14px;
    color:#5E6366;
    font-weight: bold;
    margin-left: 20px;
}
.product-info p{
    font-size: 15px;
    color:#5E6366;
    font-weight: bolod;
    font-family: Roboto;
}

/* ---- populer-collection-end ---- */
 
/* ---- Contact-form-start ---- */
.contact{
    width: 700px;
    height: max-content;
    box-shadow: 1px 9px 16px 9px rgba(145, 143, 143, 0.856);
    border-radius: 5px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}
.form-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.contact h1{
    display: grid;
    justify-content: center;
    color: rgba(49, 43, 43, 0.788);
    margin:2px 2px 2px 2px;
    
}
.contact form{
    
    display: grid;
  
    justify-content: center;
    row-gap: 20px;

}
.contact form input{
    border: 1px solid grey;
    height: 50px;
    width: 300px;
    border-radius: 5px;
}
::placeholder{
    color: grey;
    opacity: 1; 
    padding-left: 20px;
    font-size: 15px;
}
.button{
    margin-top: 20px;
    height: 50px;
    color:rgba(241, 220, 220, 0.973);
    background-color: brown;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    
}
.button:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    background-color: tomato;
    color: white;
}


/* ----
Fotter-Section-Start
              ---- */


footer{
    width:100%;
    height:150px;
    background: #0A0826;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h3{
    font-size: 19px;
    color:white;
    padding-bottom:8px;
}
footer p{
    font-size: 13px;
    color:white;
    position: absolute;
}
footer span {
    font-size: 12px;
    color: white;
    padding-bottom: 15px;
}
footer .icons{
    display: flex;
    width:200px;
    height: 18px;
    text-align: center;
    justify-content: center;
}
footer .icons i{
    font-size: 23px;
    padding-right: 11px;
} 

/* -----
Fotter-Section-End
        ----- */